$line-height: 1.5rem;

$mobile-content-width: 300px;
$phablet-content-width: 400px;
$tablet-content-width: 750px;
$desktop-content-width: 960px;

$denim: #24363d;
$black: #0c2421;
$red: #f63341;
$smoke: #f3f1f3;
$orange: #ff851b;
